*
{
    margin: 0px; 
    padding: 0%;
}

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #331d42;
}

#login-card
{
    margin: 100px auto;
    min-height: 300px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: #bc99e0;
    background: linear-gradient(0deg, rgba(188, 153, 224, 1) 0%, rgba(97, 83, 115, 1) 100%);
}

.password, .name
{
    margin: 20px 0;
}
input
{
    width: 90%;
    padding: 10px 20px;
}
.button
{
    margin-top: 40px;
    transition-duration: 0.4s;
}
.button:hover
{
    background-color: #473b4d; 
    color: white;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}